.main-content, .subtitle, .title {
    color: white !important;
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #b45428; 
}

.main-content {
    flex: 1;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}


.navbar {
    margin-bottom: 20px;
}

.content {
    color: #fff;
}


.bot-status {
    background-color: #333;
}


@media screen and (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000; /* Make sure it is above the content */
    }

    /* Make sure the main content is not covered by the fixed navbar */
    .main-content {
        margin-top: 70px; /* Adjust the value according to the height of the navbar */
    }

    .footer {
        margin-bottom: 70px; /* Optional, if you have a fixed footer on mobile */
    }
}
