{% extends 'base/base.html' %}

<title>{% block title %}AbbyBot - About "her"{% endblock %}</title>

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about-her.css') }}">
{% endblock %}

{% block content %}


<section class="hero is-medium">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h1 class="title has-text-white">
                About Her: Abigail "Abby" Monroe
            </h1>
            <h2 class="subtitle has-text-white">
                Meet the deuteragonist of 'D0Z3R: You Are Alive' and AbbyBot's mascot
            </h2>
        </div>
    </div>
</section>


<div class="section centered-content">
    <div class="container">
        <div class="columns is-centered">

            <div class="column is-two-thirds">
                <div class="content about-content">
                    <h2 class="title has-text-white">Introduction</h2>
                    <img style="width: 50%; height: auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); border-radius: 10px; transition: box-shadow 0.3s ease-in-out;"
                        src="{{ url_for('static', filename='img/logo/abbybot_logo.png') }}" alt="Abigail Monroe">
                    <p>Abigail Monroe is a young survivor who has gone through great hardship after losing her family
                        in an attack by 'FN machines'. Despite her traumas, she is a tireless fighter, dedicated to
                        avenging her own and protecting what remains of humanity.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section centered-section">
    <div class="container">
        <div class="content">
            <h2 class="title has-text-white">The story of Abigail "Abby" Monroe and FN-D0Z3R began like this.</h2>

            <p class="subtitle has-text-white">
                Around the year 2019, a bored student during an exam of one of those old books that tend to bore young
                people finished the test quite a while before the others. Then, very bored and unable to use his mobile
                phone or anything else to pass the time, he decided to take a pen and start drawing on his eraser—yes,
                on the eraser, on something so tiny to scratch it, but well. What I drew that time was a figure, or
                rather, the combination of two figures, something like combining a 'trapezoid' with a square, forming a
                kind of 'face.' In fact, you can look up the 'EOD 9 bomb disposal suit,' imagine that helmet but much
                more polygonal and square; that was the shape I drew back then. Then I decided to paint it black, but it
                was just an empty shape, so I decided to add the characters ^^, yes, those typical ones used to make
                emoticons in 2007, like '^_^'. Now, the character had a bit more life.
            </p>
        </div>

        <div class="content">
            <h3 class="title has-text-white">The Development of FN-D0Z3R</h3>

            <p class="subtitle has-text-white">
                The following was the body; in this case, this character was conceived as an
                android, a non-organic being. For the body, I simply thought of a human skeleton
                with some plates to hide all the "circuits" and "mechanisms" that a humanoid robotic
                body should have, but I didn't pay much attention to it because I decided to cover
                its entire body with a hood, something like the ones the Akatsuki wear but white and
                without any design, hahaha.
            </p>

            <p class="subtitle has-text-white">
                I started to develop a storyline for the character, and I kept coming up with
                something post-apocalyptic. So I designed an initial plot like this: 'the character
                wakes up without legs in a kind of dump, in the distance he can see a forest and far
                away a "castle." Without understanding anything, he is intercepted by a mysterious
                figure wearing a stealth suit that reveals nothing. Not knowing who it is, he ends
                up being taken to their lair.'
            </p>
            <p class="subtitle has-text-white">Now there was something left, to define this
                character.
            </p>
        </div>

        <div class="content">
            <h3 class="title has-text-white">FN-D0Z3R's companion on this adventure</h3>
            <p class="subtitle has-text-white">
                This idea came to me out of nowhere; these things used to happen to me all the time,
                almost everything would come to me out of the blue. I thought of "a blonde girl" of
                American nationality, to contrast with the world influenced by Japan. So I started
                to develop a design, but since I’m clearly a disaster in the artistic part, I made a
                horrible drawing. However, some time later, something happened that pushed me to
                continue on this adventure...
            </p>
        </div>



        <div class="content">
            <h3 class="title has-text-white">The day that changed everything...</h3>
            <p class="subtitle has-text-white">
                Months later, the quarantine of 2020 passed, just a couple of days before it was
                announced here in Chile. It was March 16, my birthday, and I was with my parents
                looking for truck parts when I received a message from someone special to me. We'll
                call her 'WantanFeliz,' as she asked me to mention her. </p>
            <p class="subtitle has-text-white">
                For my birthday, she gave me two drawings of the character concepts I designed one
                day. The one of D0Z3R was something different from what I had in mind, but the one
                of Abby, who at that time was just Abby, was perfect. She was clearly what I was
                looking for: a girl with a sweet and friendly appearance, but who retains that
                toughness and strength to keep moving forward within her.


            </p>

            <p class="subtitle has-text-white">
                That gift truly inspired me to move forward, and honestly, without exaggeration, it
                gave meaning to my life. If you are reading this, I want to thank you for helping me
                with that. It may not mean much to you, but for me, it was something that helped me
                understand what I should do in this world, and that's why I'm here.
            </p>
        </div>

        <p style="text-align: center;" class="subtitle has-text-white">The truth is I was never a very cheerful person;
            in
            fact, now that I'm 21, I realize that at 16, when all of this happened, I was quite
            'depressive.'</p>




        <div class="content">
            <h3 class="title has-text-white">The origin of 'D0Z3R: You Are Alive'</h3>
            <p class="subtitle has-text-white">In the first few months, I had this need to keep
                moving forward with the project. I thought about creating an RPG video game, so I
                decided to start experimenting with different things, like the 'RPG Maker MV'
                engine, where I began designing a new concept, the origin of FN-D0Z3R. In summary,
                originally FN-D0Z3R is a human who was "converted" in some way into this humanoid
                robotic body; in the future, you will know more about the subject :)
            </p>
        </div>
        <p class="subtitle has-text-white">In the end, I ended up losing that version of the project
            I had, but everything was recorded in my mind, and now I knew what I had to do with my
            life.
        </p>
    </div>




    <div class="content">
        <h3 class="title has-text-white">What was still to be done now?</h3>
        <p class="subtitle has-text-white">And so the years went by; I already knew what I
            wanted to do with my life: develop indie video games, finish this story once and for
            all, but do it well. So I decided to study the career of "Computer Programming
            Analyst" at DUOC UC Institute, and thanks to that, you are reading this page today.
        </p>

    </div>

    <p class="subtitle has-text-white">In summary, AbbyBot is a version of Abigail "Abby"
        Monroe, the fictional character concept I designed back then.</p>

</div>

<section class="section">
    <div class="container">
        <div class="content has-text-centered">
            <h1 class="title has-text-white">Evolution of the AbbyBot Logo</h1>
            <div class="columns is-centered is-vcentered">

                <div class="column is-one-third">
                    <figure class="image is-square">
                        <img style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); border-radius: 10px; transition: box-shadow 0.3s ease-in-out; margin-bottom: 20px;"
                            src="{{ url_for('static', filename='img/evolution_abbybot_logo/1.Original_ver.png') }}"
                            alt="AbbyBot">
                    </figure>
                    <p class="has-text-white">First Logo - Initial Concept (2020)</p>
                </div>

                <div class="column is-one-third">
                    <figure class="image is-square">
                        <img style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); border-radius: 10px; transition: box-shadow 0.3s ease-in-out; margin-bottom: 20px;"
                            src="{{ url_for('static', filename='img/evolution_abbybot_logo/2.Minimalist.png') }}"
                            alt="AbbyBot">
                    </figure>
                    <p class="has-text-white">Second Logo - Pixel Art Version (2021)</p>
                </div>

                <div class="column is-one-third">
                    <figure class="image is-square">
                        <img style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); border-radius: 10px; transition: box-shadow 0.3s ease-in-out; margin-bottom: 20px;"
                            src="{{ url_for('static', filename='img/evolution_abbybot_logo/3.current_version.png') }}"
                            alt="AbbyBot">
                    </figure>
                    <p class="has-text-white">Current Logo - Digitally drawn, Official logo (2024)</p>
                </div>
            </div>
        </div>
    </div>
</section>

<p style="text-align: center;" class="subtitle has-text-white">AbbyBot uses the character of Abigail "Abby" Monroe as
    its appearance, while imitating her posed personality as if it were a virtual clone of her.</p>



</div>

{% endblock %}