{% extends 'base/admin_base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-3">Edit Contribution</h1>

        <form action="{{ url_for('edit_contribution', contribution_id=contribution.id) }}" method="POST">
            <!-- Contribution text -->
            <div class="field">
                <label class="label has-text-white" for="contribution">Contribution:</label>
                <div class="control">
                    <textarea class="textarea" id="contribution" name="contribution" required>{{ contribution.contribution }}</textarea>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Save Changes</button>
                </div>
                <div class="control">
                    <a class="button is-light" href="{{ url_for('manage_contributions', contributor_id=contribution.contributor_id) }}">Back to List</a>
                </div>
            </div>

            <!-- Hidden field for contributor_id -->
            <input type="hidden" name="contributor_id" value="{{ contribution.contributor_id }}">
        </form>
    </div>
</section>
{% endblock %}
