{% extends 'base/admin_base.html' %}

{% block content %}
<section class="section">
    <div class="container">

        <h1 class="title is-2">Manage Contributors</h1>
        <p class="subtitle">You can see the entire list of contributors. If you want to add/delete contributions, you must click on 'edit' on the contributor to be selected.</p>
        
        <h1 class="subtitle is-4">Contributors List</h1>

        
        <a href="{{ url_for('add_contributor') }}" class="button is-primary mb-3">Add New Contributor</a>


        <div class="columns is-multiline">
            {% for contributor in contributors %}
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{ contributor.nickname }} ({{ contributor.username }})
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <p><strong>ID:</strong> {{ contributor.id }}</p>
                            <p><strong>Commentary:</strong> {{ contributor.commentary }}</p>
                            <p><strong>Custom Nickname:</strong> {{ contributor.custom_nickname }}</p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <div class="buttons are-small are-rounded card-footer-item">
                            <a href="{{ url_for('edit_contributor', contributor_id=contributor.id) }}" class="button is-warning">Edit</a>
                            
                            <form action="{{ url_for('delete_contributor', contributor_id=contributor.id) }}" method="POST" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this contributor? This action cannot be undone.');">
                                <input type="hidden" name="contributor_id" value="{{ contributor.id }}">
                                <button class="button is-danger" type="submit">Delete</button>
                            </form>

                            <a href="{{ url_for('manage_contributions', contributor_id=contributor.id) }}" class="button is-info">Manage Contributions</a>
                        </div>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
{% endblock %}
