{% extends 'base/base.html' %}

<title>{% block title %}AbbyBot - Commands{% endblock %}</title>

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/commands-list.css') }}">
{% endblock %}

{% block content %}

<section class="main-content section">
    <div class="container">
        <section class="section">
            <h1 class="title has-text-centered" style="color: black;">Commands list</h1>
            <p class="subtitle has-text-centered" style="color: black;">List of AbbyBot commands</p>

            {% if commands %}
            <div class="columns is-multiline">
                {% for command in commands %}
                <div class="column is-one-third">
                    <div class="card command-card hover-grow">
                        <header class="card-header is-link">
                            <p class="card-header-title">{{ command.command_code }}</p>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p><strong>Description:</strong> {{ command.command_description }}</p>
                                <p><strong>Usage:</strong> <code>{{ command.usage }}</code></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="centered-container">
                <p style="font-size: xx-large; color: black;" class="subtitle has-text-centered">In this moment AbbyBot commands list are unavailable, please try later. &#128534;</p>
            </div>
            {% endif %}
        </section>
    </div>
</section>

{% endblock %}
