{% extends 'base/base.html' %}

<title>{% block title %}AbbyBot - Contribute{% endblock %}</title>

{% block content %}


<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Contribute to AbbyBot</h1>

        <div class="content has-text-centered">
            <p class="is-size-5">
                Thank you for your interest in contributing to AbbyBot! At this moment, we do not have the contribution
                system open.
                Please check back later for updates on how you can get involved. We appreciate your support and
                patience.
            </p>
            <p class="is-size-5">
                In the meantime, if you'd like to support AbbyBot, feel free to visit our Ko-fi page by clicking the
                button below:
            </p>

            <a href='https://ko-fi.com/S6S412DMXT' target='_blank'><img height='50' style='border:0px;height:50px;' src='https://storage.ko-fi.com/cdn/kofi1.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>

        </div>
    </div>
</section>

{% endblock %}