{% extends 'base/base.html' %}

<title>{% block title %}AbbyBot - Home{% endblock %}</title>


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home_styles.css') }}">
{% endblock %}



{% block content %}

<section class="main-content section">
    <div class="container">
        <section class="section">
            <div class="columns">
                <div class="column is-half">
                    <h1 style="margin-bottom: 10px;" class="title">Introducing AbbyBot</h1>
                    <p class="subtitle">
                        AbbyBot is a discord application with multipurpose purposes,
                        dedicated mainly to entertainment and the administrative sector.
                        AbbyBot has different functions through the use of slash commands, including multi-language
                        support,
                        currently supporting English and Spanish language.
                    </p>
                    <strong class="subtitle">
                        The project is currently in an early phase of development. Each preview will be published on
                        this website, see you soon!
                    </strong>

                    <div class="column">
                        <a href="/wishlist" class="button is-link"><span class="icon"><i class="fab fa-discord"></i></span><span>Add to wishlist</span></a>
                        
                        <a href="/overview" class="button is-light"><span class="icon"><i class="fa-solid fa-file-lines"></i></span><span>Add to wishlist</span></a>

                    </div>

                </div>
                <div class="column is-half">
                    
                    <figure class="image">
                        <img style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); border-radius: 10px; transition: box-shadow 0.3s ease-in-out; margin-bottom: 20px;"
                            src="{{ url_for('static', filename='img/logo/abbybot_logo.png') }}" alt="AbbyBot">
                        <p style="color: white;">Abigail "Abby" Monroe, AbbyBot's character icon.</p>
                    </figure>
                </div>
            </div>

            <div>
                <div class="bot-status box has-text-centered">
                    <h1 class="subtitle">Currently status</h1>
                    <p class="subtitle">AbbyBot is in early development, check back later. 🙂‍↔️</p>
                </div>
            </div>

            <div class="section">
                <div class="bot-status box has-text-centered">
                    <h2 class="subtitle">Number of servers where AbbyBot is added:</h2>
                    {% if server_list and server_list | sum(attribute='counter') > 0 %}
                    <p style="color: white; margin-bottom: 20px;">Currently added to:
                        {% for server in server_list %}
                        <strong style="color: aqua;">{{ server.counter }}</strong>
                        {% if not loop.last %}, {% endif %}
                        {% endfor %}
                        servers.
                    </p>
                    {% else %}
                    <p style="color: rgb(249, 0, 41);">We cannot verify the number of servers at this moment. Please try
                        again later.</p>
                    {% endif %}
                    <p class="subtitle">Would you like to help increase this number? you can do it if you add AbbyBot to the <a style="color: aqua;" href="/wishlist">wishlist</a> 💙</p>
                </div>
            </div>

        </section>

        <div class="buttons is-centered">   
            <a href="/" class="button is-primary"><span class="icon"><i class="fa-solid fa-house"></i></span><span>Home</span></a>
            <a href="/about-her" class="button is-link"><span class="icon"><i class="fa-solid fa-robot"></i></span><span>About Her</span></a>
            <a href="/contribute" class="button is-info"><span class="icon"><i class="fa-solid fa-handshake-simple"></i></span><span>Contribute</span></a>
            <a href="https://github.com/your-github-organization" class="button is-light"><span class="icon"><i class="fab fa-github"></i></span><span>GitHub Organization</span></a>
            <a href="https://github.com/your-github-organization" class="button is-warning"><span class="icon"><i class="fa-solid fa-address-card"></i></span><span>Contact us</span></a>

        </div>

    </div>
</section>



{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div id="thankYouModal" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="has-text-centered">
            <p class="title">
                {% for category, message in messages %}
                    {{ category|capitalize }}
                {% endfor %}
            </p>
            <p class="subtitle">
                {% for category, message in messages %}
                    {{ message }}
                {% endfor %}
            </p>
            <button class="button is-primary" id="closeModal">Close</button>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endif %}
{% endwith %}



{% block javascript %}
<script src="{{ url_for('static', filename='js/home_script.js') }}"></script>
{% endblock %}


{% endblock %}