{% extends 'base/base.html' %}

{% block content%}

<section class="main-content section">
    <div class="container">
        <section class="section">
            <div class="columns">
                <div class="column is-half">
                    <h1 style="margin-bottom: 10px;" class="title">Introducing AbbyBot</h1>
                    <p class="subtitle">
                        AbbyBot is a discord application with multipurpose purposes, 
                        dedicated mainly to entertainment and the administrative sector. 
                        AbbyBot has different functions through the use of slash commands, including multi-language support, 
                        currently supporting the English and Spanish language.
                    </p>
                    <strong class="subtitle">
                        The project is currently in an early phase of development. Each preview will be published on this website, see you soon!
                    </strong>
                </div>
                <div class="column is-half">
                    <!-- AbbyBot image -->
                    <figure class="image">
                        <img style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); border-radius: 10px; transition: box-shadow 0.3s ease-in-out; margin-bottom: 20px;" src="{{ url_for('static', filename='img/logo/abbybot_logo.png') }}" alt="AbbyBot">
                        <p style="color: white;">Abigail "Abby" Monroe, AbbyBot's physical appearance.</p>
                    </figure>
                </div>
            </div>

            <!-- Bot status sector -->
            <div>
                <div class="bot-status box has-text-centered">
                    <h1 class="subtitle">Bot status</h1>
                    <p style="color: rgb(255, 0, 0);">● AbbyBot is currently offline. Try later.</p>
                </div>
            </div>
        </section>
    </div>
</section>



{% endblock %}