{% extends 'base/base.html' %}

<title>{% block title %}AbbyBot - Overview{% endblock %}</title>

{% block content %}

<section class="hero is-medium mb-5">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h1 class="title has-text-white is-size-2">
                AbbyBot Overview
            </h1>
            <h2 class="subtitle has-text-white is-size-5">
                AbbyBot was created by combining two factors, a character and an idea. In this case, if you want to know more about this character, you can travel to <a style="color: cyan;" href="/about-her">this section</a>. 
            </h2>
        </div>
    </div>
</section>

<section class="section mb-5">
    <div class="container">

        <div class="columns">
            <div class="column is-half">
                <h1 class="title has-text-white is-size-2">AbbyBot Discord</h1>
                <h1 class="subtitle has-text-white is-size-5">
                    AbbyBot is a multipurpose tool for both entertainment and server management. The idea was born from combining an efficient tool with a character with charisma, below you can read the features.
                </h1>
            </div>
            <div class="column is-half">
                <figure class="image hover-grow" style="width: 55%; height: auto;">
                    <img src="{{ url_for('static', filename='img/AbbyBot_commands/Profile.svg') }}" alt="AbbyBot profile" style="width: 100%; height: auto;">
                </figure>
            </div>
        </div>

    </div>
</section>

<section class="section mb-5">
    <div class="container">

        <div class="columns">
            <div class="column is-half">
                <figure class="image hover-grow" style="width: 70%; height: auto;">
                    <img src="{{ url_for('static', filename='img/AbbyBot_commands/abouther.svg') }}" alt="About Her - Profile" style="width: 100%; height: auto;">
                </figure>
            </div>

            <div class="column is-half">
                <h1 class="title has-text-white is-size-2">Storytelling System</h1>
                <h1 class="subtitle has-text-white is-size-5">
                    AbbyBot can tell you her story. AbbyBot's story will be told through pieces of history for the viewer's enjoyment.
                </h1>
            </div>
        </div>

    </div>
</section>

<section class="section mb-5">
    <div class="container">

        <div class="columns">
            <div class="column is-half">
                <h1 class="title has-text-white is-size-2">Language Support</h1>
                <h1 class="subtitle has-text-white is-size-5">
                    AbbyBot can communicate in multiple languages (English / Spanish), allowing for greater accessibility and engagement across communities.
                </h1>
            </div>
            <div class="column is-half">

                <figure class="image hover-grow" style="width: 55%; height: auto; margin-bottom: 20px;">
                    <img src="{{ url_for('static', filename='img/AbbyBot_commands/message_english.svg') }}" alt="English message" style="width: 100%; height: auto;">
                </figure>

                <figure class="image hover-grow" style="width: 55%; height: auto;">
                    <img src="{{ url_for('static', filename='img/AbbyBot_commands/message_spanish.svg') }}" alt="Spanish message" style="width: 100%; height: auto;">
                </figure>
            </div>
        </div>

    </div>
</section>

<section class="section mb-5">
    <div class="container">

        <div class="columns">
            <div class="column is-half">
                <figure class="image hover-grow" style="width: 70%; height: auto;">
                    <img src="{{ url_for('static', filename='img/AbbyBot_commands/events.svg') }}" alt="Events deactivated" style="width: 100%; height: auto;">
                </figure>
            </div>

            <div class="column is-half">
                <h1 class="title has-text-white is-size-2">Enable/Disable Events</h1>
                <h1 class="subtitle has-text-white is-size-5">
                    You can choose if activate or deactivate AbbyBot events. Only if you are Admin in the server!
                </h1>
            </div>
        </div>

    </div>
</section>

<section class="hero is-medium mb-5">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h2 class="subtitle has-text-white is-size-5">
                AbbyBot will be updated over time, adding more content. This page will mention the most important features so visit it frequently!</a>. 
            </h2>
        </div>
    </div>
</section>


{% endblock %}
