{% extends 'base/base.html' %}

<title>{% block title %}AbbyBot - Terms and Conditions{% endblock %}</title>

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tac.css') }}">
{% endblock %}

{% block content %}
<section class="main-content section">
    <div class="container">
        <div>
            <h1 class="title is-3 has-text-centered">AbbyBot Terms and Conditions</h1>
            <p class="subtitle has-text-centered">
                We know that people aren't very interested in reading the terms and conditions of a product.
                For this reason, we have summarized AbbyBot's terms in just 12 sections. Please read them below.
            </p>
        </div>

        <section class="section">
            <div class="box bot-status">
                <h2 class="title is-4 has-text-centered">AbbyBot Terms and Conditions (August 2024)</h2>

                <div class="columns is-multiline">

                    <div class="column is-half">
                        <h3 class="title is-size-5">0. AbbyBot name</h3>
                        <ul>
                            <li>0.1 The name: The AbbyBot name should be written as 'AbbyBot'. Variants such as
                                'abbybot', 'Abby
                                bot', 'abby bot', or others are not accepted. The correct use of the name is and will be
                                'AbbyBot'.</li>
                            <li>0.2 Discord username: As of today (August 2024), AbbyBot's Discord username is
                                'AbbyBot#1727'. This
                                username will remain as long as AbbyBot exists or until Discord policies change.</li>
                            <li>0.3 Possible plagiarism: In case another bot appears with a name similar to AbbyBot, as
                                long as it does not
                                use the exact name mentioned in article 0.1 or the username mentioned in article 0.2, it
                                will not be considered plagiarism or imitation.</li>
                            <li>0.4 AbbyBot originality: AbbyBot is an original project that takes inspiration from
                                other bots existing on
                                the Discord platform, but at no time does it plagiarize content owned by other authors.
                            </li>
                        </ul>
                    </div>


                    <div class="column is-half">
                        <h3 class="title is-size-5">1. AbbyBot Image and Colors</h3>
                        <ul>
                            <li>1.1. Improper use: The image and colors associated with AbbyBot cannot be used to
                                promote illegal, immoral activities or that violate the rights of third parties.</li>
                            <li>1.2. Intellectual property: The owner of AbbyBot is the sole owner of the rights to the
                                image, colors and any visual material used in the bot (except for contributions).
                                Unauthorized use of these elements is prohibited.</li>
                        </ul>
                    </div>

                    <div class="column is-half">
                        <h3 class="title is-size-5">2. Privacy and Data Usage</h3>
                        <ul>
                            <li>2.1. User Data: AbbyBot collects and processes user data strictly for functionality and
                                enhancement of user experience. Personal data will not be shared with third parties.
                            </li>
                            <li>2.2. Consent: By using AbbyBot, you agree to the terms outlined here, including our data
                                usage policies.</li>
                            <li>2.3 Personal Data: AbbyBot may collect some data that could be considered 'personal',
                                such as the user's birthday. This data is completely voluntary and is used for
                                productive purposes for AbbyBot. They will not be requested at any time; If the user
                                wants to share this data, they will need to do so by using AbbyBot commands.</li>
                        </ul>
                    </div>


                    <div class="column is-half">
                        <h3 class="title is-size-5">3. Limitation of liability</h3>
                        <ul>
                            <li>3.1. Bot Operation: AbbyBot is provided "as is" without warranties of any kind, either
                                express or implied. The owner will not be liable for direct, indirect, incidental or
                                consequential damages arising from the use or inability to use AbbyBot.</li>
                            <li>3.2. Service Interruptions: Uninterrupted availability of AbbyBot is not guaranteed. The
                                owner will not be responsible for temporary or permanent interruptions of service,
                                whether caused by technical problems, maintenance or any other cause.</li>
                        </ul>
                    </div>

                    <div class="column is-half">
                        <h3 class="title is-size-5">4. Modification of terms</h3>
                        <ul>
                            <li>4.1. Updates: The owner of AbbyBot reserves the right to modify these terms and
                                conditions at any time. Updates will be notified to users through an announcement or
                                notice within the bot. It is the user's responsibility to review the terms periodically.
                            </li>
                        </ul>
                    </div>

                    <div class="column is-half">
                        <h3 class="title is-size-5">5. Use not permitted</h3>
                        <ul>
                            <li>5.1. Prohibition of abuse: The use of AbbyBot to harass, intimidate or take actions that
                                negatively affect other users or communities is prohibited.</li>
                            <li>5.2. Exclusion of services: The owner of AbbyBot reserves the right to disable access to
                                the bot in case of abuse or non-compliance with the terms and conditions.</li>
                        </ul>
                    </div>

                    <div class="column is-half">
                        <h3 class="title is-size-5">6. Privacy and security</h3>
                        <ul>
                            <li>6.1. Data privacy: Although AbbyBot does not collect personal data without permission,
                                any data collected will be handled in accordance with the privacy policies, protecting
                                the information against unauthorized access.</li>
                            <li>6.2. Security: The owner of AbbyBot will do its best to maintain the security of the
                                bot, but does not guarantee that it is completely free of vulnerabilities or attacks.
                            </li>
                        </ul>
                    </div>

                    <div class="column is-half">
                        <h3 class="title is-size-5">7. Intellectual property</h3>
                        <ul>
                            <li>7.1. Copyright: All rights to AbbyBot, including but not limited to source code,
                                content, image and other visual elements, are the sole property of the developer.</li>
                            <li>7.2. License to use: The user receives a limited, non-exclusive and non-transferable
                                license to use AbbyBot on Discord servers. Any attempt to redistribute, sell or alter
                                the bot is strictly prohibited.</li>
                        </ul>
                    </div>

                    <div class="column is-half">
                        <h3 class="title is-size-5">8. Community Rules</h3>
                        <ul>
                            <li>8.1. Appropriate Conduct: Use of AbbyBot must adhere to the community standards of the
                                Discord server it is installed on, as well as Discord policies.</li>
                            <li>8.2. Handling Violations: The AbbyBot owner reserves the right to report violations of
                                Discord policies to server administrators or to Discord itself.</li>
                            <li>8.3. Voluntary reports: If a user detects misuse of AbbyBot, whether non-compliance with
                                rules by the user or defects in the optimal functioning of AbbyBot, they are voluntarily
                                invited to make a report at 'https://abbybot.xyz/report', in order to maintain the fair
                                and optimal functioning of AbbyBot.</li>
                        </ul>
                    </div>

                    <div class="column is-half">
                        <h3 class="title is-size-5">9. Representation of the character</h3>
                        <ul>
                            <li>9.1. Character Image: The AbbyBot image represents an underage fictional character. The
                                use of this image in inappropriate contexts or that suggest any illegal, immoral
                                activity or that may damage the integrity of the character is prohibited.</li>
                            <li>9.2. Image Protection: The owner reserves the right to take legal action or report
                                misuse of the character's image to the appropriate authorities if these rules are
                                violated.</li>
                            <li>9.3 Name of the character: The name of the character that represents AbbyBot is called
                                'Abigail "Abby" Monroe', it was created by Marcos Reyes, it can be called simply 'Abby'
                                or 'AbbyBot'.</li>
                        </ul>
                    </div>


                    <div class="column is-half">
                        <h3 class="title is-size-5">10. Voluntary contributions</h3>
                        <ul>
                            <li>10.1 Voluntary contributions: Any contribution, whether monetary or artistic, is
                                considered voluntary, the user will never be forced to make any contribution in order to
                                use AbbyBot.</li>
                            <li>10.2 Monetary contributions: All monetary contributions towards the AbbyBot Project on
                                the different contribution platforms, such as Ko-fi, will be used exclusively to cover
                                financial needs that ensure the operation of AbbyBot.</li>
                            <li>10.3 Artistic contributions: Any artistic contributions towards 'AbbyBot Project' will
                                respect the name and property of the author, with the exception of images that were
                                created by 'Soledad' (AbbyBot Logo, AbbyBot-body) which are the property of the AbbyBot
                                author.</li>
                        </ul>
                    </div>

                    <div class="column is-half">
                        <h3 class="title is-size-5">11. Final user</h3>
                        <ul>
                            <li>11.1 Responsibility: The end user, or group of users using 'AbbyBot', is responsible for
                                any action they take. If any violation is committed, the user will be responsible for
                                the consequences resulting from it.</li>
                            <li>11.2 Agreement with the terms of use: If the end user does not agree with the terms of
                                use of AbbyBot, he or she may choose not to use AbbyBot. If you are a server owner or
                                administrator, you can remove AbbyBot; If you belong to a server where AbbyBot is
                                operating, you can consult the server administrator or write to us via <a
                                    style="color: cyan;"
                                    href="https://abbybot.cl/contact-us">https://abbybot.cl/contact-us</a>, requesting
                                that your user be completely excluded from any AbbyBot-related activity.</li>
                            <li>11.3 Do not participate in AbbyBot: If the end user decides not to participate in the
                                AbbyBot project, the public data of their Discord account (user ID, username) will be
                                stored in a table of users to be ignored, which will have a penalty counter. used for
                                article 11.4, after this if the user tries to use any AbbyBot command or any event the
                                system will not allow him to use any AbbyBot function.</li>
                            <li>11.4 Participation request: If the end user decides to participate again in AbbyBot,
                                they must complete a form where they tell us a reason to use AbbyBot again. After this,
                                the penalty counter will be activated, if the user decides to leave AbbyBot
                                participation. will be permanently deleted, therefore you will not be able to request a
                                reactivation of your account to use AbbyBot.</li>
                        </ul>
                    </div>


                </div>

            </div>

            <h2 class="title is-4 has-text-centered">Thanks for reading, remember to use
                and take care of AbbyBot, she will do the same for you!</h2>

            <div class="buttons is-centered">

                <a href="/wishlist" class="button is-link"> <span class="icon">
                        <i class="fab fa-discord"></i>
                    </span>
                    <span>Add to wishlist</span>
                </a>

            </div>


        </section>
    </div>
</section>
{% endblock %}