{% extends 'base/base.html' %}

{% block title %}Add AbbyBot to Wishlist{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}


{% block content %}

<section class="section light-mode">
  <div class="container">
    <div class="columns is-vcentered">

      <div class="column is-half" >
        <figure class="image is-1by1">
          <img
            style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); border-radius: 10px; transition: box-shadow 0.3s ease-in-out; margin-bottom: 20px;"
            src="{{ url_for('static', filename='img/art/AbbyBot-body.png') }}" alt="AbbyBot">
        </figure>
        <p class="mt-4 subtitle">-AbbyBot Project Team</p>
      </div>

      <div class="column is-half">
        <h1 class="title" style="margin-bottom: 10px;">Add AbbyBot to Wishlist</h1>
        <p class="subtitle">
          Do you want to use AbbyBot? If you are interested, fill out this short form to be notified when AbbyBot is
          released!
        </p>


        <div class="mb-3">
          <p class="subtitle">By adding AbbyBot to your wishlist, you'll receive the privilege of Level 2 - <strong style="color: cyan">Wishlist Contributor</strong>.
            As a Wishlist Contributor, you'll gain access to special features that regular users won't have. 
            Stay tuned for more exciting benefits!</p>
        </div>


        <form action="{{ url_for('wishlist') }}" method="POST">
          <div class="field">
            <label class="label" style="color: white;"><i class="fa-solid fa-signature"></i> Name (required field)</label>
            <div class="control">
              <input class="input" type="text" name="name" placeholder="Your name" required>
            </div>
          </div>

          <div class="field">
            <label class="label" style="color: white;"><i class="fa-solid fa-envelope"></i> Email (required field)</label>
            <div class="control">
              <input class="input" type="email" name="email" placeholder="Your email" required>
            </div>
          </div>

          <div class="field">
            <label class="label" style="color: white;">
              <i class="fa-brands fa-discord"></i> Discord Username (optional field) <a href="#discordModal" style="color: cyan;"> [What's this?]</a>
            </label>
            <div class="control">
              <input class="input" type="text" name="discord_username" placeholder="Your Discord Username">
            </div>
          </div>

          <div class="field">
            <label class="label" style="color: white;"><i class="fa-solid fa-comments"></i> Any reason for using AbbyBot? (optional field)</label>
            <div class="control">
              <textarea class="textarea" name="reason" placeholder="Your text here"></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label" style="color: white;"><i class="fa-solid fa-square-poll-vertical"></i> How did you learn about AbbyBot Project? (optional field)</label>
            <div class="control">
              <textarea class="textarea" name="how_learned" placeholder="Your text here"></textarea>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" required>
                I agree to the <a href="/terms-and-conditions" target="_blank" style="color: cyan;">terms and
                  conditions</a>
              </label>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-link" type="submit"><i class="fa-solid fa-hand-holding-heart"></i> Add to wishlist!</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>

<div id="discordModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <strong class="has-text-white" style="font-size: x-large;">What is your Discord Username?</strong>

      <p class="mt-4">Your Discord username is the one you use to interact on the platform. Here's an example:</p>

      <figure class="image is-4by3 mt-4">
        <img src="{{ url_for('static', filename='img/examples/modal_example.jpeg') }}" alt="Discord Username Example">
      </figure>

      <p class="mt-4">You can find your Discord username by opening Discord and looking at the bottom left corner of the screen where your profile is displayed.</p>

      <div class="buttons is-centered mt-4">
        <button class="button is-primary is-medium" id="closeModal">Close</button>
      </div>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>




{% block javascript %}
<script src="{{ url_for('static', filename='js/wishlist_script.js') }}"></script>
{% endblock %}



{% endblock %}
