{% extends 'base/base.html' %}

<title>{% block title %}AbbyBot - Work In Progress{% endblock %}</title>

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/wip.css') }}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="container has-text-centered">
        <h1 class="title">AbbyBot - Work In Progress</h1>
        <p class="subtitle">We're currently working on something amazing. Please check back soon!</p>
        <div class="is-flex is-justify-content-center" style="margin-top: 50px;">
            <div class="spinner"></div>
        </div>
    </div>
</section>
{% endblock %}
