<!DOCTYPE html>
<html data-theme="light" lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AbbyBot{% endblock %}</title>

    {% block favicon %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo/abbybot_logo.png') }}" type="image/x-icon">
    {% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma/css/bulma.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    {% block extra_css %}
    <!-- Here the extra CSS for custom pages. -->
    {% endblock %}


</head>

<body>
    <nav class="navbar is-dark bot-status" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='img/logo/abbybot_logo.png') }}" alt="AbbyBot Profile">
                <h1 class="has-text-light">AbbyBot</h1>
            </a>            

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/overview">
                    <i class="fa-solid fa-file-lines"></i> Overview
                </a>
                <a class="navbar-item" href="/commands-list">
                    <i class="fa-solid fa-terminal"></i> Commands
                </a>
                <a class="navbar-item" href="https://github.com/AbbyBot">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                    GitHub Organization
                </a>
                <a class="navbar-item" href="/about-her">
                    <i class="fa-solid fa-circle-info"></i> About Her
                </a>
                <a class="navbar-item" href="/contribute">
                    <i class="fa-solid fa-handshake-simple"></i> Contribute
                </a>
                <a style="color: gold;" class="navbar-item" href="/hall-of-fame">
                    <i class="fa-solid fa-users-gear"></i> Hall of Fame
                </a>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="/wishlist">
                    <i class="fa-solid fa-hand-holding-heart"></i> Add To Wishlist
                </a>
                <a class="navbar-item" href="/terms-and-conditions">
                    <i class="fa-solid fa-scale-balanced"></i> Terms And Conditions
                </a>
                <a class="navbar-item" href="/contact-us">
                    <i class="fa-regular fa-address-card"></i> Contact us
                </a>

                {% if current_user.is_authenticated %}

                <a class="navbar-item" href="/admin-dashboard">
                    <i class="fa-solid fa-repeat"></i> Switch to Admin Dashboard
                </a>

                <a class="navbar-item" href="/logout">
                    <i class="fa-solid fa-sign-out-alt"></i> Logout
                </a>

                {% endif %}

            </div>
        </div>
    </nav>


    <section class="main-content section">
        <div class="container">
            {% block content %}

            {% block javascript %}

            {% endblock %}

            {% endblock %}
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong style="color: rgb(24, 143, 0);">AbbyBot</strong> by <a style="color: aqua;"
                    href="https://reyesandfriends.cl">reyesandfriends.cl</a>. All rights
                reserved.
            </p>
            <p>Powered by</p>
            <p> 
                <img src="https://img.shields.io/badge/discord.py-7289DA?style=for-the-badge&logo=python&logoColor=white"
                    alt="discord.py">
                <img src="https://img.shields.io/badge/flask-black?style=for-the-badge&logo=flask&logoColor=white"
                    alt="discord.py">
                <img src="https://img.shields.io/badge/Bulma-00D1B2?style=for-the-badge&logo=bulma&logoColor=white"
                    alt="apache">
                <img src="https://img.shields.io/badge/Apache-red?style=for-the-badge&logo=apache&logoColor=white"
                    alt="Bulma CSS">
                <img src="https://img.shields.io/badge/MySQL-4479A1?style=for-the-badge&logo=mysql&logoColor=white"
                    alt="MySQL">
            </p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/base_script.js') }}"></script>

</body>

</html> 
