{% extends "base/base.html" %}

{% block title %}Commands - AbbyBot{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/commands.css') }}">
{% endblock %}

{% block content %}
<section class="hero-section d-flex align-items-center justify-content-center text-light">
    <div class="container text-center">
        <div class="text-content" data-aos="fade-right">
            <h1 class="display-4 abbybot-title">AbbyBot Commands</h1>
            <img src="{{ url_for('static', filename='img/emotes/abbybot_tired.png') }}" alt="">
        </div>
        <p class="subtitles" data-aos="fade-up" data-aos-delay="200">Watch AbbyBot command full list!</p>
    </div>
</section>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 command-list">
            <h2 class="command-title">All Commands</h2>
            <ul class="command-list">
                {% for category, commands in [
                    ('Control Commands', control_commands),
                    ('Minigames Commands', minigames_commands),
                    ('Music Commands', music_commands),
                    ('Utility Commands', utility_commands),
                    ('User Commands', user_commands),
                    ('Image Commands', image_commands)
                ] %}
                    <h3 class="command-category-title">{{ category }}</h3>
                    {% for command in commands %}
                        <li class="command-item" data-aos="fade-right">
                            <div class="command-header">
                                <strong class="command-code">{{ command.command_code }}</strong> 
                                <span class="command-usage">{{ command.usage }}</span>
                            </div>
                            <div class="command-description">{{ command.command_description }}</div>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}

