{% extends "base/base.html" %}

{% block title %}Work In Progress - AbbyBot{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wip.css') }}">
{% endblock %}

{% block content %}
<section class="hero-section d-flex align-items-center justify-content-center text-light">
    <div class="container text-center">
        <div class="text-content" data-aos="fade-right">
            <h1 class="display-4 abbybot-title">Work In Progress</h1>
            <img src="{{ url_for('static', filename='img/emotes/abbybot_think.png') }}" alt="abbybot_think">
        </div>
        <p class="subtitles" data-aos="fade-up" data-aos-delay="200">We are working on that section, come back soon!</p>
    </div>
</section>
{% endblock %}
