.command-item {
    background-color: #333; 
    color: #f1f1f1; 
    padding: 15px 20px; 
    margin: 10px 0; 
    border-radius: 8px; 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-size: 1rem; 
}

.command-item:hover {
    transform: translateY(-4px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.command-title {
    color: #ffde57; 
    font-size: 1.8rem; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    border-bottom: 2px solid #ffde57; 
    padding-bottom: 10px; 
    text-align: center;
}

.command-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.command-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.command-code {
    color: #4584b6;
    font-weight: bold;
}

.command-usage {
    background-color: #444;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 0.9rem;
    color: #f1f1f1;
}

.command-description {
    font-size: 1rem;
    color: #ddd;
    margin-top: 5px;
    padding-left: 15px;
    border-left: 3px solid #ffde57;
}

.command-category-title {
    font-size: 1.6rem;
    color: #4584b6;
    margin: 20px 0 10px;
    border-bottom: 2px solid #ffde57;
    padding-bottom: 5px;
    text-transform: uppercase;
}



[data-aos="fade-right"] {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

[data-aos="fade-right"].aos-animate {
    opacity: 1;
    transform: translateX(0);
}
