{% extends 'base/admin_base.html' %}


{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-3">User Details</h1>
        <p class="subtitle">Here are the full details for the selected user.</p>

        <div class="box">
            <p><strong>ID:</strong> {{ wihslist.id }}</p>
            <p><strong>Name:</strong> {{ wihslist.name }}</p>
            <p><strong>Discord Username:</strong> {{ wihslist.discord_username }}</p>
            <p><strong>User reason:</strong> {{ wihslist.reason }}</p>
            <p><strong>How user learned:</strong> {{ wishlist.how_learned }}</p>
            <p><strong>Submitted At:</strong> {{ wishlist.submitted_at }}</p>
        </div>

        <a href="/admin-manage_wishlist" class="button is-link">Back to List</a>
    </div>
</section>
{% endblock %}
