# AbbyBot Discord database (discord)
DISCORD_DB_HOST=example.com
DISCORD_DB_USER=exampleUser
DISCORD_DB_PASSWORD=examplePassword
DISCORD_DB_NAME=exampleDiscordDB

# AbbyBot Wishlist database (wishlist)
WISHLIST_DB_HOST=example.com
WISHLIST_DB_USER=exampleUser
WISHLIST_DB_PASSWORD=examplePassword
WISHLIST_DB_NAME=exampleWishlistDB

# AbbyBot API database (api)
API_DB_HOST=example.com
API_DB_USER=exampleUser
API_DB_PASSWORD=examplePassword
API_DB_NAME=exampleAPIDB

# Flask secret key
SECRET_KEY=exampleSecretKey